Hi Tyler,<br>
<p>We wanted to remind you of your upcoming toy rental pickup. The following toys will be picked up on <strong>June 5th, 2012</strong> between 6PM and 9Pm.</p>
<ul>
  <li>Toy Number 1</li>
  <li>Toy Number 2</li>
</ul>
<p>Thank-you,<br>Just Play Toy Rental</p>