<% @aProducts.each do |product| %>
<div class="listProduct">
  <a href="javascript:void(null);" class="thumbnail"><img src="<%=product[:productImage]%>" style="width:175px;min-height:60px;"/></a>
  <div>
  <strong><%=product[:title]%></strong>
  </div>
</div>
<% end %>